.L3eUgb {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.LS8OJ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yr19zb {
    min-height: 92px;
}

.LLD4me {
    min-height: 150px;
    max-height: fit-content;
    height: calc(100% - 560px);
}

.o3j99 {
    flex-shrink: 0;
    box-sizing: border-box;
}

.qarstb {
    flex-grow: 1;
}

#gws-output-pages-elements-homepage_additional_languages__als {
    font-size: small;
    margin-bottom: 24px;
}

div {
    display: block;
}

body, input, button {
    font-size: inherit;
    font-family: Arial, sans-serif;
    color: #222;
}

.rSk4se {
    max-height: 92px;
    position: relative;
}

.k1zIA {
    height: 100%;
    margin-top: auto;
}

.lnXdpd {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
img[Attributes Style] {
    height: 92px;
    aspact-ratio: auto 272 / 92;
    width: 272px;
}

.Ne6nSd {
    display: flex;
    align-items: center;
    padding: 6px;
}

.n1xJcf {
    height: 60px;
}

.LX3sZb {
    display: inline-block;
    flex-grow: 1;
}

.gb_qa.gb_0d {
    min-width: initial;
    min-width: auto;
}

.gb_Wa:not(.gb_Fd) {
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    z-index: 986;
}

.gb_0d {
    height: 48px;
}

.gb_qa {
    color: black;
    min-width: 320px;
    position: relative;
    -webkit-transition: box-shadow 250ms;
    transition: box-shadow 250ms;
}

.gb_0d .gb_Xd {
    float: right;
    padding-left: 32px;
}

.gb_Xd {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    padding-left: 30px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.gb_Jd {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-user-select: none;
}


element.style {
}

div {
    display: block;
}

.gb_9d {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.gb_h {
    display: inline-block;
    padding-left: 15px;
}

.gb_h .gb_g {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}

a.gb_g, span.gb_g {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.gb_qa a, .gb_Bc a {
    color: inherit;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.gb_Nc .gb_Ue, .gb_0d .gb_Ue {
    float: right;
}

.gb_Ue {
    position: relative;
}

.gb_Oc {
    display: inline;
}

.gb_cd:first-child, #gbsfw:first-child+.gb_cd {
    padding-left: 4px;
}
.gb_cd {
    padding: 4px;
}
.gb_cd {
    display: inline-block;
    vertical-align: middle;
}

.gb_Bf {
    position: relative;
}

#gb#gb a.gb_D {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.gb_C .gb_D, .gb_C .gb_D:hover, .gb_C .gb_D:focus {
    opacity: 1;
}
.gb_C .gb_D, .gb_E .gb_C .gb_D {
    background-position: -64px -29px;
}
.gb_qa a, .gb_Bc a {
    color: inherit;
}
.gb_D {
    padding: 8px;
    cursor: pointer;
}
.gb_D {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
a {
    color: #1a0dab;
    text-decoration: none;
}
.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%;
}
.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
.HPVvwb {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.hpuQDe {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}
.SDkEP {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.iblpc {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.hsuHs {
    margin: auto;
}
.wFncld {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.tfB0Bf input[type="submit"], .gbqfba {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#SIvCob {
    display: inline-block;
    line-height: 28px;
}

#SIvCob a {
    padding: 0 3px;
}

a:visited {
    color: #609;
}

.uU7dJb {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.KxwPGc {
    justify-content: space-evenly;
}

.KxwPGc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a.pHiOh {
    color: #70757a;
}

.pHiOh {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

.SSwjIe {
    padding: 0 20px;
}

.c93Gbe {
    background: #f2f2f2;
}

.vcVZ7d {
    text-align: center;
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

svg:not(:root) {
    overflow: hidden;
}
.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.pR49Ae {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}
.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
.A8SBwf {
    width: auto;
    max-width: 584px;
}
.RNNXgb {
    width: auto;
    max-width: 584px;
}
.RNNXgb {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    width: auto;
}
